################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Embedded-payment-demo/FileContentIndex/1a944477-5eb2-4200-aa3c-44b827f8a15d.vsidx
/.vs/Embedded-payment-demo/FileContentIndex/e2edbcf4-e101-4cf8-8317-9ad53fe6b5fa.vsidx
*.vsidx
*.sqlite
*.bin

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/bin
/dist

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/SamplePaymentApi/bin/Debug/net8.0
/SamplePaymentApi/.vs/SamplePaymentApi
/SamplePaymentApi/obj
*.user
